body{
	background: black;
}

div{
	height: 200px;
	width: 100%;

	position: fixed;
	top: 50%;
	left: -50%;
	margin-top: -50px;
	margin-left: 50%;
}

h1 {
	color: #9600ed;
	font-family: monospace;
	text-align: center;
}

.glow {
  text-shadow: 0 0 20px #9600ed, 0 0 30px #9600ed
}